.wrapper {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
}

.title {
    color: black;
    margin-bottom: 4px;
}

.input {
    border: 1px solid var(--boder-blur-color);
    padding: 12px 0;
    border-radius: 4px;

    input {
        width: 100%;
        margin: 0 18px;
    }
}
