.wrapper {
    min-width: 100px;
    display: inline-flex;
    font-size: 1.6rem;
    padding: 6px 16px;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        opacity: 0.6;
        user-select: none;
    }

    + .wrapper {
        margin-left: 16px;
    }
}

.rounded {
    color: rgba(22, 24, 35, 0.75);
    border-radius: 50px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
}

.primary {
    background-color: var(--primary-color);
    color: var(--white-color);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.simple {
    border: 1px solid rgba(22, 24, 35, 0.12);
    color: var(--black-color);
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.large {
    font-size: 1.8rem;
    width: 100%;
    padding: 14px 69px;
    border-radius: 8px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 16px;
    text-align: center;
}

//toggle button
.toggle-container {
    position: relative;
    width: 44px;
    height: 24px;
    background-color: rgba(22, 24, 35, 0.12);
    border-radius: 999px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.toggle-container.toggle {
    background-color: var(--primary-color);
}

.node {
    position: absolute;
    left: 3%;
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px;
    transition: left ease-in-out 0.2s;
}

.node.toggle {
    left: 47%;
}

.loading {
}
