.wrapper {
    min-width: 520px;
    max-width: 720px;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.content {
    flex: 1;
    margin-left: 8px;
}

.content-header {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.content-body {
    display: flex;
}

.video {
    border-radius: 10px;
    min-width: 337.5px;
    max-height: calc(100vh - 180px);
    overflow: hidden;
    margin-top: 12px;
    position: relative;
    margin-right: 20px;
}
