.wrapper {
    width: 100%;
}

.content {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    min-width: 1100px;
}

.left {
    position: relative;
    z-index: -3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: black;

    .image-background {
        position: absolute;
        z-index: -2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;

        .blur-overlay {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(15px);
        }
    }

    .video {
        max-height: fit-content;
        background-color: transparent;
    }

    video {
        object-fit: contain;
    }

    .close-btn {
        position: absolute;
        top: 16px;
        left: 16px;
    }

    .arrow-btn {
        position: absolute;
        top: 50%;
        right: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 108px;
        transform: translateY(-50%);
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: white;
        background: rgba(84, 84, 84, 0.5);
        cursor: pointer;

        &:hover {
            opacity: 0.8;
            transition: opacity 0.3s ease 0s;
        }
    }
}

.right {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: white;
}

.comment-container {
    overflow-y: auto;
    flex: 1;
    height: 100%;
    padding: 24px 24px 0 24px;
}

.video-desc {
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
}

.video-desc__header {
    display: flex;

    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .user-info {
        flex: 1;
        margin-left: 12px;
        p {
            line-height: 18px;
        }

        span {
            margin-left: 4px;
            color: var(--green-check-color);
        }
    }
}

.video-desc__body {
    .video-content {
        padding: 8px 0;
    }

    .video-music {
        span {
            margin-right: 6px;
        }

        a {
            font-size: 14px;
            font-weight: 200;
        }
    }
}

.video-media {
    padding: 0 10px;
    margin-top: 16px;

    .copy-link {
        display: flex;
        overflow: hidden;
        line-height: 18px;
        margin-top: 16px;
        border-radius: 8px;
        background-color: #f8f8f8;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
        p {
            overflow: hidden;
            flex: 1;
            padding: 7px 0 5px 12px;
            color: rgba(22, 24, 35, 0.75);
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }

        button {
            padding: 7px 18px;
            &:hover {
                background-color: rgba(22, 24, 35, 0.03);
            }
        }
    }
}

.video-comment {
    .video-comment__nav {
        display: flex;
        justify-content: center;
        margin-top: 16px;

        .nav-item {
            position: relative;
            border-bottom: 2px solid black;
            border-radius: 0;
        }
    }
}

.comment-post {
    padding: 21px 24px;
}

.fullscreen {
    display: flex;
}
