.wrapper {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid rgba(22, 24, 35, 0.12);

    .list-label {
        display: block;
        margin-bottom: 8px;
        color: rgba(22, 24, 35, 0.75);
        font-size: 1.4rem;
        font-weight: 600;
    }
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out 0s;

    &:hover {
        background-color: var(--nav-hover-color);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.account-info {
    margin-left: 16px;

    .comment {
        line-height: 21px;
        color: black;
        font-size: 1.6rem;
    }
}
.nickname {
    font-size: 1.6rem;

    span {
        margin-left: 8px;
        color: var(--green-check-color);
    }
}
.name {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.2rem;
}

.more-btn {
    margin-top: 8px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
}
