.wrapper {
    padding: 14px 16px 0;
}

.header {
    padding-bottom: 4px;
    font-weight: 600;
}

.left-part {
    font-size: 1.6rem;
    font-weight: 600;
}
.right-part {
    position: relative;
    width: 360px !important;
    padding: 12px;

    .image-input {
        display: none;
    }

    div {
        position: absolute;
        bottom: 10px;
        left: 54%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border: 1px solid rgb(208, 208, 211);
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
    }

    .avatar {
        width: 95px;
        height: 95px;
        border: 1px solid rgb(208, 208, 211);
        border-radius: 50%;
    }

    .input-text {
        width: 100%;
        padding: 7px 12px;
        border-radius: 5px;
        background-color: #f1f1f2;
        font-weight: normal;

        &:focus {
            outline: 1px solid var(--boder-blur-color);
        }
    }
    .area-text {
        height: 100px;
        border: none;
        resize: none;
        @extend .input-text;
    }

    .notice-label {
        line-height: 18px;
        color: rgba(22, 24, 35, 0.75);
        font-size: 1.2rem;
    }
}

.footer {
    padding: 10px 0;
}
