.wrapper {
    width: 100%;
}

.video-info {
    margin-right: 12px;
    font-size: 1.4rem;
}
.account-info {
    display: flex;
    align-items: center;
}
.nickname {
    line-height: 24px;
    color: black;
    font-size: 1.8rem;
    span {
        margin-left: 4px;
        color: var(--green-check-color);
    }
}
.name {
    line-height: 24px;
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 500;
}

.date {
    line-height: 24px;
    margin-left: 8px;
}
.title {
    margin-bottom: 4px;
    font-size: 1.6rem;
}

.music {
    span {
        margin-right: 8px;
    }
}
