.form-validation__header {
    margin-bottom: 32px;
    a {
        font-size: 32px;
    }
}

.form-validation__body {
    .form-label {
        font-size: 16px;
        font-weight: 600;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 8px 12px;
        margin-bottom: 4px;
        border: 1px solid rgba(22, 24, 35, 0.12);
        font-size: 16px;
    }
    .form-control:focus {
        border-color: #1dbfaf;
    }
}

.invalid {
    input {
        border-color: red !important;
        background-color: #f1dfe7 !important;
    }

    span {
        color: red !important;
    }
}

.error {
    color: red !important;
}
