.wrapper {
    padding: 6px 0;

    .replyMode {
        padding-left: 8px;
        border-left: 1px solid #ccc;
    }
}

.comment-user {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .info {
        display: flex;
        flex: 1;
        .avatar {
            width: 35px;
            height: 35px;
            margin-top: 6px;
            border-radius: 50%;
        }
    }

    .sub-content {
        margin-left: 6px;
        span {
            overflow: hidden;
            width: 64px;
            margin-right: 8px;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }

        .comment-content {
            span {
                padding: 3px 6px;
                border-radius: 4px;
                color: #0093fc;
                background-color: #f6f7f9;
            }
        }
    }

    .icon {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.reply-container {
    padding-left: 42px;

    .reply-editor {
        display: flex;
        align-items: center;
        padding-right: 4px;
        gap: 8px;

        div {
            flex: 1;
        }

        span {
            cursor: pointer;
        }
    }
}

.see-reply {
    margin-top: 4px;
    cursor: pointer;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.main-text {
    line-height: 18px;
    color: var(--blur-color);
    font-size: 1.4rem;
}
