@import 'normalize.css';

@font-face {
    font-family: TikTokFont;
    font-weight: 400;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
}
@font-face {
    font-family: TikTokFont;
    font-weight: 600;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
}
@font-face {
    font-family: TikTokFont;
    font-weight: 700;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
}
@font-face {
    font-family: TikTokDisplayFont;
    font-weight: 700;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

:root {
    --default-layout-header-height: 60px;
    --default-layout-width: 1420px;
    --side-bar-width: 240px;
    --primary-color: #fe2c55;
    --blur-color: #b9babd;
    --black-color: #333;
    --white-color: #fff;
    --green-check-color: #20d5ec;
    --nav-hover-color: rgba(22, 24, 35, 0.03);
    --boder-blur-color: rgba(22, 24, 35, 0.12);
    --font-family: 'TikTokFont';
}

html {
    font-size: 62.5%;
}

//scrollbar

html ::-webkit-scrollbar {
    width: 8px;
    border-radius: 0px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
}

button,
input {
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 600;
}
a[href] {
    color: black;
    text-decoration: none;
}
//loading animation
.fetch-loading {
    animation: spinner 1s linear infinite;
}

//custom tippy tooltip

body {
    .tippy-box {
        line-height: 21px;
        padding: 4px 4px;
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.6rem;
    }

    .firebase-emulator-warning {
        display: none;
    }

    .break-bar {
        width: 100%;
        height: 1px;
        margin: 4px 0;
        background-color: var(--boder-blur-color);
    }

    .hashtags {
        margin-right: 4px;
        color: rgb(43, 93, 185);
        font-size: 1.6rem;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }

    .users {
        display: inline-block;
        padding: 3px 3px 2px;
        margin: 0 1px;
        border-radius: 4px;
        background-color: #eee;
        vertical-align: baseline;
        font-size: 0.9em;
    }

    .line {
        position: absolute;
        bottom: 0;
        width: 100px;
        height: 2px;
        background-color: black;
        transition: all 0.2s ease;
    }

    .danger-border {
        border: 1px solid red !important;
    }
}
