@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

* {
    box-sizing: inherit;
}

:root {
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}
