.wrapper {
    padding: 20px 0 24px 0;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    label {
        font-size: 1.6rem;
        color: rgba(22, 24, 35, 0.5);
    }
}

.login-btn {
    margin-top: 20px;
}
