.wrapper {
    width: 363px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    margin-bottom: 16px;
    font-size: 3.3rem;
    text-align: center;
    font-weight: 700;
}
.social-plugins {
    height: 368px;
    padding: 10px 12px 0 12px;
    overflow-y: auto;
}
.privacy {
    padding: 16px 10px;
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.5);
    p {
        text-align: center;
    }
}
.footer {
    font-size: 1.5rem;
    p {
        text-align: center;

        a {
            color: var(--primary-color);
        }
    }
}
